body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.login, .opret-bruger,.opretPersonForm, .visPerson,.opdater-person {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 10px,0px;
  background-color: #f0f0f0;
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 100%;
  }
}
.opdater-person {
  padding-top: 20px;
  margin-top: 25px;
  margin-bottom: 75px;
}
form {
  max-width: 600px;
  margin: 0 auto;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #444;
}
.alle-personer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-top: 0;
}

label {
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.navbar {
  background-color: #333;
  color: #fff;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ddd;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#opretPersonFormOverskrift {
  text-align: center;
}
.opretPersonForm {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  background-color: #f0f0f0;
  
}

.velkomst-side {
  text-align: center;
}

.velkomst-side velkomst-side-tekst {
  display: inline-block;
  text-align: center;
}

